// ======================================================
// Components :: Amazing Feature
// ======================================================

@use '../abstracts/variables' as *;
@use '../abstracts/placeholder' as *;

.list-students {
  padding: .5rem 2rem;
  
  ul {
    @extend %list-style-type-none;
  }
}

.student {
  &-table {
    th {
      @extend %text-left;
    }
  }
  
  &-header {
    @extend %grid;
    @extend %item-center;
    grid-template-columns: 85px 1fr 1fr 1fr 1fr 1fr 64px 64px;
    color: $color-tertiary;
    font-size: $text-md;
    font-weight: $font-weight-bold;
  
    &-avatar,
    &-name,
    &-email,
    &-phone,
    &-enroll-mumber,
    &-date-admission,
    &-edit,
    &-delete {
      padding: .75rem;
    }
  }
  
  &-item {
    @extend %grid;
    @extend %item-center;
    grid-template-columns: 85px 1fr 1fr 1fr 1fr 1fr 64px 64px;
    background-color: $bg-color-secondary;
    border-radius: .5rem;
    margin: .5rem 0;
  
    &-avatar,
    &-name,
    &-email,
    &-phone,
    &-enroll-mumber,
    &-date-admission,
    &-edit,
    &-delete {
      padding: .75rem;
    }
          
    &.not-found {
      margin: 0 1.875rem;
      grid-template-columns: 1fr;
      padding: 1.875rem;
    }
    
    &-avatar {
      @extend %flex;
      @extend %item-center;
      
      img {
        border-radius: .5rem;
      }
    }
  }

  &-icon {
    font-size: $text-xxl;
    color: $color-reset-password;
  }
}