// ======================================================
// Components :: Button
// ======================================================

@use '../abstracts/variables' as *;
@use '../abstracts/placeholder' as *;
@use '../abstracts/mixins' as *;

.btn {
  @include text-font($default-family, $text-md, $font-weight-regular, $line-height-default);
  @extend %inline-flex;
  @extend %justify-center;
  @extend %cursor-pointer;
  @extend %text-uppercase;
  border-radius: .25rem;
  border-color: transparent;
  border-width: 2px;
  transition-duration: .4s;
  padding: .8125rem 1.6875rem;

  &-primary {
    background-color: $bg-color-btn-primary;
    color: $color-secondary;

    &:hover{
      background-color: transparent;
      color: $color-reset-password;
      border: 2px solid $color-reset-password;
    }
  }
    
  &-outline {
    background-color: transparent;
    color: $color-reset-password;
    border: 2px solid $color-reset-password;
    
    &:hover {
      background-color: $bg-color-btn-primary;
      color: $color-secondary;
    }
  }

  &-small {
    font-size: $text-sm;
    padding: .625rem 1rem;
  }

  &-large {
    font-size: $text-xl;
    padding: .875rem 1.875rem;
  }
  
  &-cancel {
    color: $bg-color-tertiary;
    background-color: $color-login;
    margin-right: .5rem;
  }

  &-disabled {
    cursor: not-allowed;
    color: $bg-color-tertiary;
    background-color: $color-login-input;
  }
}